* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    height: auto;
    background: linear-gradient(to bottom,
            #01080E 5%,
            #FFF 10%,
            #FFF 90%,
            #01080E 95%);
    padding: 10.5vh 8vw 10vh;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

button {
    background: inherit;
    color: inherit;
    border: 0;
}

select {
    appearance: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    appearance: textfield;
}

.texto-medio-azul {
    color: var(--Light-Blue, #1875E8);
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 110%;
    /* 1.65rem */
}

.texto-final-azul {
    color: var(--Light-Blue, #1875E8);
    font-size: 1rem;
    font-style: italic;
    font-weight: 450;
    line-height: 100%;
    text-align: center;
    /* 1.65rem */
}

.conteudo-principal {
    filter: drop-shadow(0px 0px 70px rgba(2, 189, 255, 0.40));
    min-height: 100%;
    padding: 5rem 6.5rem;
    text-align: center;

    display: grid;

    background: white url('./assets/oculos.png') no-repeat bottom left;
    background-size: auto 40%;

    position: sticky;
    background-position: left bottom -40px;
}

.titulo {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    margin-bottom: 2.5rem;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.campo-grupo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.botoes-wrapper {
    display: flex;
    align-items: flex-end;
    gap: 1rem;
}

.botao-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 13rem;
    height: 3.25rem;
    padding: 1rem 1.5rem;
    gap: 0.625rem;
    border-radius: 1rem;
    cursor: pointer;
}

.botao-enviar {
    background: var(--Light-Blue, #1875E8);
    box-shadow: 0px 0px 20px 0px rgba(24, 117, 232, 0.50);

    color: var(--Branco, #FFF);
    font-size: 1.5rem;
    font-weight: 700;
    line-height: normal;
}

.titulo-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.divisoria {
    align-items: center;
    width: 24rem;
    height: 0.0625rem;
    background: #000;
}

.adicionar-produto {
    text-align: center;
    position: sticky;
}

.nome-input {
    text-align: center;
    width: 20rem;
    height: 3.5rem;
    padding: 1rem;
    border-radius: 2.5rem;
    border: 1px solid var(--Light-Blue, #1875E8);

    color: var(--Void, #01080E);
    font-family: Inter;
    font-size: 1.3125rem;
    font-style: italic;
    font-weight: 400;
    line-height: 110%;
}

.idade-input {
    text-align: center;
    display: flex;
    height: 3.5rem;
    padding: 1rem;
    width: 10rem;
    border-radius: 2.5rem;
    border: 1px solid var(--Light-Blue, #1875E8);

    color: var(--Void, #01080E);
    font-family: Inter;
    font-size: 1.3125rem;
    font-style: italic;
    font-weight: 400;
    line-height: 110%;
}

.parte-inferior {
    display: center;
    align-items: center;
    gap: 2rem;
}